1. What is Python, and why is it popular?
- Python is a programming language that is easy to understand and write, making it a popular choice among developers and programmers.

2. What is an interpreter in Python?
- A Python Interpreter is a program that processes and executes Python code either from a script file or interactively, allowing programmers to test and run code line by line.

3.  What are pre-defined keywords in Python?
- words that hold a special meaning and have a specific purpose in python programming.

4. Can keywords be used as variable names?
- No, keyowrds cannot be used as a variable name.

5.  What is mutability in Python?
- Objects whose state or value can be changed after they are created.

6. Why are lists mutable, but tuples are immutable?
- Lists are mutable because you can change the order of items in a list or reassign an item in a list. Tuples doesn't have any methods that for changing its contents

7. What is the difference between “==” and “is” operators in Python?
- The '==' is known as the equality operator. The 'is' is known as the identity operator.

8.  What are logical operators in Python?
- Logical operators are used to combine or modify boolean values (True or False)

9. What is type casting in Python?
- The process of changing the data type of a Value or Object.

10. What is the difference between implicit and explicit type casting?
- Implicit where python understand the data type and Explicit covert data type using inbuilt function.

11. What is the purpose of conditional statements in Python?
- Helps you to code decisions based on some pre conditions.

12.  How does the elif statement work?
- It can be used in conditional statements to check for multiple conditions.

13. What is the difference between for and while loops?
- For loop Iterates over a sequence of elements, While loop repeatedly excecuted a block of code untill a condition is met.

14. Describe a scenario where a while loop is more suitable than a for loop.
- If you're creating a program that asks the user to enter a password until they enter it correctly. You don't know in advance how many attempts the user will make, so a while loop is ideal.

In [ ]:
#Practical Questions
#1 Write a Python program to print "Hello, World!"
print("Hello, World!")

Hello, World!

In [ ]:
#2 Write a Python program that displays your name and age
name = "Ajay"
age = 21
print(name,age)

Ajay 21

In [ ]:
#3 Write code to print all the pre-defined keywords in Python using the keyword library
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#4  Write a program that checks if a given word is a Python keyword
word = "if"
if keyword.iskeyword("if"):
    print("if is a python keyword")
else:
    print("if is not a python keyword")

if is a python keyword

In [ ]:
#5 Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
# for each
shopping_list= ["brinjal", "apple", 2, 2.3, True]
shopping_list

['brinjal', 'apple', 2, 2.3, True]

In [ ]:
shopping_list[0] = "carrot"
shopping_list

['carrot', 'apple', 2, 2.3, True]

In [ ]:
"""
list are mutable
"""

'\nlist are mutable\n'

In [ ]:
emp_name = ("Ajay", "Vijay", "Ajay1")
type(emp_name)

tuple

In [ ]:
emp_name[-1]

'Ajay1'

In [ ]:
emp_name[-1] = "Ajay2"

TypeError: 'tuple' object does not support item assignment

In [ ]:
"""
Tuples are immutable
"""

'\nTuples are immutable\n'

In [ ]:
#6. write a function to demonstrate the behavior of mutable immutable arguments for each.

[1, 2, 3, 4]

In [ ]:
my_list.insert(1,5)
print(my_list)

[1, 5, 2, 3, 4]

In [ ]:
my_list.remove(5)
print(my_list)

[1, 2, 3, 4]

In [ ]:
popped_element = my_list.pop(0)
print(my_list)
print(popped_element)

[3, 4]
1

In [ ]:
# Immutable agruments:
message = "welcome to pwskills"
message[0] = 'p'
print(message)

TypeError: 'str' object does not support item assignment

In [ ]:
W#7 rite a function to demonstrate the behavior of mutable and immutable arguments
"""
the question is repeated
"""

'\nthe question is repeated\n'

In [ ]:
#8 Write a program to demonstrate the use of logical operators
sentence = "I am a student at Pwskills"
search_word = "am"
if search_word in sentence:
    print("the search word is present")
else:
    print("not present")

the search word is present

In [ ]:
#9  Write a Python program to convert user input from string to integer, float, and boolean types
name = input("Enter your name")
print(name)

Enter your nameAjay
Ajay

In [ ]:
type(name)

str

In [ ]:
#convert to integer
int_name = int(name)
print(int_name)

ValueError: invalid literal for int() with base 10: 'Ajay'

In [ ]:
#convert to float
float_name = float(name)
print(float_name)

ValueError: could not convert string to float: 'Ajay'

In [ ]:
#convert to boolean
bool_name = bool(name)
print(bool_name)

True

In [ ]:
#10 Write code to demonstrate type casting with list elements
# String to integer
str_value = "123"
int_value = int(str_value)
print(int_value)

123

In [ ]:
# string to float
float_value = float(str_value)
print(float_value)

123.0

In [ ]:
# string to boolean
bool_value = bool(str_value)
print(bool_value)

True

In [ ]:
# integer to string
int_value = 123
str_value = str(int_value)
print(str_value)

123

In [ ]:
# float to integer
float_value = 123.45
int_value = int(float_value)
print(int_value)

123

In [ ]:
#11 Write a program that checks if a number is positive, negative, or zero
num = float(input("Enter a number"))
if num > 0:
    print("The number is positive")
elif num < 0:
    print("The number is negative")
else:
    print("The number is zero")

Enter a number5
The number is positive

In [ ]:
#12 Write a for loop to print numbers from 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#13  Write a Python program to find the sum of all even numbers between 1 and 50
sum_even = 0
for i in range(1,51):
    if i % 2 == 0:
        sum_even += i
print(sum_even)

650

In [ ]:

string = "pwskills"
reversed_string = ""
length = len(string)
while length > 0:
    reversed_string += string[length - 1]
    length -= 1
print(reversed_string)

sllikswp

In [ ]:
#15  Write a Python program to calculate the factorial of a number provided by the user using a while loop
num = int(input("Enter a number"))
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print(factorial)

Enter a number5
120